<!--
  The navigation UI that is docked to the top of the window. Most of this markup simply
  follows Bootstrap conventions. The only Knockout-specific parts are the data-bind
  attributes on the <li> elements.
-->
<div class="row">

    <div class="col-xs-12">
        <nav class="navbar navbar-light bg-fuchsia">
            <button class="navbar-toggler hidden-sm-up" type="button"
                    data-toggle="collapse"
                    data-target="#exCollapsingNavbar2"
                    aria-controls="exCollapsingNavbar2"
                    aria-expanded="false" aria-label="Toggle navigation">
                &#9776;
            </button>

            <br />
          

            <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
                <a class="navbar-brand" href="#">Yo Ko-Ts2</a>
                <ul class="nav navbar-nav">                    
                    <li class="nav-item active " data-bind="css: { active: route().page === 'home-page' }">
                        <div class="col-xs-12"><a class="nav-link " href="#"><span class="fa fa-2x fa-home"> Home</span></a></div>
                    </li>
                    <li class="nav-item" data-bind="css: { active: route().page === 'about-page' }">
                        <div class="col-xs-12"><a class="nav-link" href="#about"><span class="fa fa-2x fa-question"> About</span></a></div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>